@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --envolve-width: 360px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: "Playwrite CU", cursive;
    font-weight: 200;
    background-color: #7300a5;
    overflow: hidden;
}

#card {
    display: none;
    justify-items: center;
    align-items: center;
}

#card h2 {
    font-size: 2em;
    color: pink;
    text-align: center;
}

#card p {
    font-size: 1em;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

#card p b {
    color: rgb(255, 175, 175);
    font-weight: bold;
}

.side {
    background: #eeeeee;
    height: 550px;
    width: 400px;
    padding: 10px;
}

.side.one {
    width: 320px;
    background: linear-gradient(90deg, #7e9cff, #c955ff 40%, #873fe6);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skew(10deg, 18deg);
    position: relative;
    overflow: hidden;
}

.side.one .fa-heart {
    font-size: 8em;
    color: red;
    animation: pulseHeart 1s ease-in-out infinite alternate;
    cursor: default;
}

.side.two {
    transform: skew(10deg, -15deg);
    background: linear-gradient(-90deg, #7e9cff, #ad55ff 40%, #9341ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.valentines-day {
    position: relative;
    cursor: pointer;
}

.envelope {
    position: relative;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.3));
}

.envelope:before {
    content: "";
    position: absolute;
    width: 254px;
    height: 254px;
    background-color: #9376e2;
    transform: rotate(-45deg);
    border-radius: 0 15px 0 0;
    left: -37px;
    top: -82px;
}

.envelope:after {
    content: "";
    position: absolute;
    background-color: #9376e2;
    width: var(--envolve-width);
    height: 225px;
    left: -90px;
    top: 45px;
}

.heart {
    position: relative;
    background-color: #fa726d;
    display: inline-block;
    height: 180px;
    top: 50px;
    left: 0;
    transform: rotate(-45deg);
    width: 180px;
    filter: drop-shadow(0 -10px 25px rgba(0, 0, 0, 0.3));
    transition: 0.5s;
}

.heart:before,
.heart:after {
    content: "";
    background-color: #fa726d;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    position: absolute;
}

.heart:before {
    top: -100px;
    left: 0;
}

.heart:after {
    left: 100px;
    top: 0;
}

.front {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 190px solid #a788fc;
    border-top: 113px solid transparent;
    border-bottom: 113px solid transparent;
    top: 44px;
    left: 80px;
    z-index: 4;
}

.front:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 190px solid #a788fc;
    border-top: 113px solid transparent;
    border-bottom: 113px solid transparent;
    top: -113px;
    left: -170px;
}

.front:after {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    border-bottom: 150px solid #b59aff;
    border-right: 180px solid transparent;
    border-left: 180px solid transparent;
    top: -36px;
    left: -170px;
}

.text {
    position: absolute;
    font-family: arial;
    letter-spacing: 3.5px;
    text-align: center;
    color: white;
    z-index: 2;
    top: 80px;
    left: 15px;
    transition: 0.5s;
    transform: translateY(-10px);
}

.valentines-day:hover .heart {
    transform: translateY(-50px) rotate(-45deg);
}

.valentines-day:hover .text {
    transform: translateY(-50px);
}

@keyframes pulseHeart {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

/* Dispositivos móviles Card Envolve */
@media only screen and (max-width: 600px) {
    #card {
        visibility: none;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    #card p {
        font-size: .96em;
    }

    .valentines-day {
        max-width: min-content;
        scale: 0.8;
    }
}

/* Dispositivos móviles sides card */
@media screen and (max-width: 600px) {
    .side {
        width: 100%;
    }

    .side.side.one {
        display: none;
    }

    .side.side.two {
        transform: skew(7deg, -8deg);
    }

    .text {
        font-size: 1em;
    }
}